/* FullCalendar CSS */
.fc-day-today{
	background: #aab9c5e5 !important;
}

/*optional event color*/
.fc-event {
    background-color: #243442;
    color: white;
}
.fc-event:hover{
    color:#1a252f
}
.fc-daygrid-event-dot{
    border-color: #379c61;
}

/*calendar header*/
.fc-toolbar h2{
    display: inline;
    vertical-align: middle;
    color: #517C63;
    font-style: normal;
    font-weight: 700;
}

.fc .fc-prev-button, 
.fc .fc-next-button{
    background-color: #517C63;
    padding: 7px;
}

.fc .fc-prev-button{
    margin-left:20px;

}

.fc .fc-next-button{
    margin:5px;

}

.fc .fc-prev-button:hover, 
.fc .fc-next-button:hover{
    background-color: #4d5852;
}

.fc .fc-button-group .fc-dayGridMonth-button, 
.fc .fc-button-group .fc-timeGridWeek-button, 
.fc .fc-button-group .fc-timeGridDay-button, 
.fc .fc-button-group .fc-list-button{
    background-color: #75818c;
}

.fc .fc-myCustomButton-button{
    background-color: #517C63;
}

.fc .fc-myCustomButton-button:hover{
    background-color: #517C63;
}

.fc .fc-button-primary{
    border: none;
}

.fc a.fc-col-header-cell-cushion{
    text-decoration: none;
    color:#AB9C81;
    font-weight: bold;
    font-size: 17pt;
}

.fc a.fc-daygrid-day-number{
    text-decoration: none;
    color:#517C63;
    font-weight: bold;
    font-size: 15pt;
}

.fc .fc-timegrid-slot-label-cushion{
    color:#AB9C81;
}


.fc .fc-list-day-text{
    color:#AB9C81;
}

@media screen and (max-width:767px) { .fc-toolbar.fc-header-toolbar {font-size: 50%}}
/* END FullCalendar CSS */


/*  NavBar CSS */
.nav-tabs .nav-link.active {
    border-bottom-color: #517C63; /* set the line color to green */
    color: #517C63;
    border-bottom-width: 5px ;
}
.nav-tabs .nav-link {
    color: #d3cccc; /* set the font color to gray */
    font-size: large;
  }
/* END NavBar CSS */

/*Header CSS*/
.navbar{
    background-color: #517C63;
}
.dropdown-item:hover{
    background-color: #517c63d7;
    color:white;
}
/*End of Header CSS*/

/*login*/
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }
