/* FullCalendar CSS */
.fc-day-today{
	background: #f7f1f1 !important;
}

.fc-event {
    color: 	#198754;
}

/*calendar header*/
.fc-toolbar h2{
    display: inline;
    vertical-align: middle;
    color: #517C63;
    font-style: normal;
    font-weight: 700;
}

.fc .fc-prev-button, 
.fc .fc-next-button{
    background-color: rgba(171, 156, 129, 0.51);
    padding: 5px;
}

.fc .fc-prev-button{
    margin-left:20px;

}

.fc .fc-next-button{
    margin:5px;

}

.fc .fc-prev-button:hover, 
.fc .fc-next-button:hover{
    background-color: #AB9C81;
}

.fc .fc-button-group .fc-dayGridMonth-button, 
.fc .fc-button-group .fc-timeGridWeek-button, 
.fc .fc-button-group .fc-timeGridDay-button, 
.fc .fc-button-group .fc-list-button{
    background-color: #75818c;
}

.fc .fc-myCustomButton-button{
    background-color: #517C63;
}

.fc .fc-myCustomButton-button:hover{
    background-color: #517C63;
}

.fc .fc-button-primary{
    border: none;
}

.fc a.fc-col-header-cell-cushion{
    text-decoration: none;
    color:#AB9C81;
    font-weight: bold;
}

.fc a.fc-daygrid-day-number{
    text-decoration: none;
    color:#517C63;
    font-weight: bold;
}
/* END FullCalendar CSS */


/*  NavBar CSS */
.nav-tabs .nav-link.active {
    border-bottom-color: #517C63; /* set the line color to red */
    border-bottom-width: 5px ;
}
.nav-tabs .nav-link {
    color: #517C63;; /* set the font color to red */
    font-size: large;
  }
/* END NavBar CSS */

/*Dashboard Event Color*/

.dash:nth-of-type(5n+1),
.dash2:nth-of-type(5n+5){
    background-color: #B26565;
}

.dash:nth-of-type(5n+2),
.dash2:nth-of-type(5n+4){
    background-color: #F8B195;
}

.dash:nth-of-type(5n+3),
.dash2:nth-of-type(5n+3){
    background-color: #537C78;
}

.dash:nth-of-type(5n+4),
.dash2:nth-of-type(5n+2){
    background-color: #6C5B78;
}

.dash:nth-of-type(5n+5),
.dash2:nth-of-type(5n+1){
    background-color: #355C7D;
}
/*End of Dashboard Event Color*/
