<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>

<!-- Bootstrap and Jquery CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>

<!-- Static files -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/js/fullcalendar.js"></script>
</head>
<style>

</style>
<body style="background-color: #F7F7F7;">
	<!-- create navigation bar ( header) -->
    <div th:replace="~{header :: header}"></div>
      
    <div class="card" style="background-color: white; margin:60px; float:left; width:50%;">
        <!-- Todays Event Tables -->
    <div class="container" style="padding-top: 20px;">
		
        <h3>Events for today</h3>
        
        <hr/>

        <div class="card" style="background-color:cadetblue; margin:10px">
            <table class="table table-borderless" style="width:100%; color:white;">
        
                <tr th:each="todayevent : ${today}">
                    <th th:text="${todayevent.title}"></th>
                </tr>
                <tr th:each="todayevent : ${today}">
                    <td th:text="${todayevent.description}"></td>
                </tr>
                <tr th:each="todayevent : ${today}">
                    <td th:text="${#temporals.format(todayevent.start, 'hh:mm a')}" style="width:25%"></td>
                    <td th:text="${#temporals.format(todayevent.end, 'hh:mm a')}"></td>
                </tr>
            </table>
        </div>        
    </div>


        <!-- Tommorow event table -->
        <div class="container">
            
            <h3>Events for tommorow</h3>
            
            <hr/>

            <!--i-d-delete ito pag may event na-->
            <div class="card" style="background-color:darkslategrey; margin:10px">
                <table class="table table-borderless" style="width:100%; color:white;">
                    <tr>
                        <th>Title</th>
                    </tr>
                    <tr>
                        <td>Description</td>
                    </tr>
                    <tr>
                        <td style="width:25%">Start</td>
                        <td>End</td>
                    </tr>
                </table>
            </div> 
            <!--hanggang dito-->
        
            <div class="card" style="background-color:darkslategrey; margin:10px">
                <table class="table table-borderless" style="width:100%; color:white;">
                    <tr th:each="tomevent : ${tommorow}">
                        <th th:text="${tomevent.title}"></th>
                    </tr>
                    <tr th:each="tomevent : ${tommorow}">
                        <td th:text="${tomevent.description}"></td>
                    </tr>
                    <tr th:each="tomevent : ${tommorow}">
                        <td th:text="${#temporals.format(tomevent.start, 'hh:mm a')}" style="width:25%"></td>
                        <td th:text="${#temporals.format(tomevent.end, 'hh:mm a')}"></td>
                    </tr>
                </table>
            </div>             
        </div>
    </div>
</body>
</html>