<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <script src="/js/logreg.js"></script>
</head>
<body>
  <header>
    <nav class="navbar" style="background-color: #517C63;">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder" th:href="@{/dashboard}" style="color: white">
            <i class="fa-solid fa-calendar-days"></i> Timetable
            </a>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" style="background-color: #517C63;" data-bs-toggle="dropdown" aria-expanded="false">
                Logout
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><button class="dropdown-item" id="logoutBtn">Logout</button></li>
              </ul>
            </div>
        </div>
    </nav>
  </header>
</body>
</html>