<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Login</title>
   </head>
   <body>
      <h1>Login</h1>
      <form th:action="@{/login}" th:object="${user}" method="post">
         <label>Email:</label>
         <input type="text" th:field="*{email}" />

         <label>Password:</label>
         <input type="password" th:field="*{password}" />
    
         <br/><br/>
    
         <button type="submit">Login</button>
      </form>
    
      <p th:text="${error}" th:if="${error}"></p>
    
      <br/><br/>
    
      <a href="/signup">Create account</a>
    </body>
</html>