<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Signup</title>
   </head>
   <body>
      <h1>Signup</h1>
      <form method="post" th:action="@{/signup}">
        <label>FirstName:</label>
        <input type="text" th:field="${user.firstname}" />

        <label>LastName:</label>
        <input type="text" th:field="${user.lastname}" />

        <label>Username:</label>
        <input type="text" th:field="${user.username}" />

        <label>Email:</label>
        <input type="text" th:field="${user.email}" />

        <label>Password:</label>
        <input type="text" th:field="${user.password}" />

        <br/><br/>

        <button type="submit">Create account</button>
      </form>

      <p th:text="${error}" th:if="${error}"></p>

      <br/><br/>

      <a href="/">Login</a>
   </body>
</html>