<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Signup</title>
   </head>
   <body>
      <h1>Signup</h1>
      <form action="createUser" method="post">

         <!-- for user details -->
         <div class="container">
             <div class="card-header">PERSONAL INFORMATION</div>
             <div class="card-body">
                 <div class="mb-3">
                     <input class="form-control" type="text" placeholder="First Name" name="firstname">
                 </div>
                 <div class="mb-3">
                     <input class="form-control" type="text" placeholder="Last Name" name="lastname">
                 </div>
                 <div class="mb-3">
                     <input class="form-control" type="text" placeholder="Home Address" name="address">
                 </div>
                 <div class="mb-3">
                     <input class="form-control" type="text" placeholder="Contact No." name="contactNo">
                 </div>
             </div>
             <div class="card-header">ACCOUNT INFORMATION</div>
             <div class="card-body">
                 <div class="mb-3">
                     <input class="form-control" type="text" placeholder="Username" name="username">
                 </div>
                 <div class="mb-3">
                     <input class="form-control" type="email" placeholder="Email" name="email">
                 </div>
                 <div class="mb-3">
                     <input class="form-control" type="password" placeholder="Password" name="password">
                 </div>
                 <div class="mb-3">
                     <input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword">
                 </div>
                 <button type="submit" class="btn" style="background-color: #517C63; color:white">Sign In</button>
             </div>
         </div>

      <p th:text="${error}" th:if="${error}"></p>

      <br/><br/>

      <a href="/">Login</a>
   </body>
</html>