<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Timetable</title>

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Jquery CDN -->
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

<!-- Fullcalendar CDN -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>

<!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- FontAwesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<!-- Moment CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

<!-- Static files -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="/js/fullcalendar.js"></script>
<script src="/js/eventcrud.js"></script>

</head>
<body style="background-color: #F7F7F7;">
  <!-- create navigation bar ( header) -->
	<div th:replace="~{header :: header}"></div>

  <!-- Navigation -->
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link"  th:href="@{/dashboard}"><i class="fa-solid fa-house fa-lg"></i> Dashboard</h></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" th:href="@{/timetable}"><i class="fa-solid fa-calendar-days"></i> Timetable</a>
    </li>
  </ul>

    <!-- Calendar div -->
    <div class="card" style="width: 85%; margin:50px auto 30px auto;">
        <div class="card-body">
          <div id="calendar"></div>
        </div>
    </div>

    <!-- Add event -->
    <div class="modal" id="addEventModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addEventForm">
              <div class="mb-3">
                <label for="addTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="addTitle" name="title" required/>
              </div>
              <div class="mb-3">
                <label for="addDesc" class="form-label">Description</label>
                <input type="textarea" class="form-control" id="addDesc" name="description" required/>
              </div>
              <div class="mb-3">
                <label for="addLoc" class="form-label">Location</label>
                <input type="text" class="form-control" id="addLoc" name="location" required/>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="addStart">Start</label>
                <div class="col-sm-10">          
                    <input class="form-control" type="datetime-local" id="addStart" name="start" required/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="addEnd">End</label>
                <div class="col-sm-10">          
                    <input class="form-control" type="datetime-local" id="addEnd" name="end" required/>
                </div>
              </div>     
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Clear</button>
            <button type="submit" class="btn btn-primary" id="addEventBtn">Save changes</button>
          </form>
          </div>
        </div>                            
      </div>
    </div>
    
    <!-- Edit event -->
    <div class="modal" id="editEventModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Event</h5>
            <button type="buttonThis meeting w" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editEventForm" method="put" th:action="@{/edit/{id}(id=${#editId})}">
              <input type="hidden" id="editId">
              <div class="mb-3">
                <label for="editTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="editTitle" name="title" required/>
              </div>
              <div class="mb-3">
                <label for="editDesc" class="form-label">Description</label>
                <input type="textarea" class="form-control" id="editDesc" name="description" required/>
              </div>
              <div class="mb-3">
                <label for="editLoc" class="form-label">Location</label>
                <input type="text" class="form-control" id="editLoc" name="location" required/>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="editStart">Start</label>
                <div class="col-sm-10">          
                    <input class="form-control" type="datetime-local" id="editStart" name="start" required/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="editEnd">End</label>
                <div class="col-sm-10">          
                    <input class="form-control" type="datetime-local" id="editEnd" name="end" required/>
                </div>
              </div> 
              <p style="color: red;" id="errMsg"></p>     
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Clear</button>
            <button type="submit" class="btn btn-primary" id="saveUpEventBtn">Save changes</button>
          </form>
          </div>
        </div>
      </div>
    </div>

    <!-- View Event Modal -->
    <div class="modal" id="viewEventModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Event Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="eventId"></input>
            <p class="fw-bold">Title: </p><p id="eventTitle"></p>
            <p class="fw-bold">Description: </p><p id="eventDescription"></p>
            <p class="fw-bold">Location: </p><p id="eventLocation"></p>
            <p class="fw-bold">Start: </p><p id="eventStart"></p>
            <p class="fw-bold">End: </p><p id="eventEnd"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="removeEventBtn">Remove</button>
            <button type="button" class="btn btn-success" id="editEventBtn" data-bs-target="#editEventModal" data-bs-toggle="modal">Edit</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>